.mainDiv{
    width: 100;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstDiv{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 205, 118);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.firstDiv h1{
    font-size: 30px;
    margin-left: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.firstDiv input {
    width: 550px;
    height: 35px;
    padding-left: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.firstDiv img{
    width: 60px;
    margin-right: 20px;
}


.goodsDiv{
    width: 100%;
    height: 90vh;
}
.goodsDiv p{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.goodsDiv hr{
    margin-left: 20px;
    margin-top: -18px;
}

.goodsLine{
    width: 100%;
    height: 40%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    margin-top: 20px;
}
.goodsdiv{
    width: 25%;
    overflow: hidden;
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: rgba(218, 218, 218, 0.578);
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.goodsdiv:hover{
    transform: scale(1.05);
}

.goodsdiv p{
    font-size: 15px;
    font-weight: 500;
}

.goodsXLine{
    width: 100%;
    height: 40%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
    margin-top: 15px;
}

.goodsXDiv {
    width: 25%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(218, 218, 218, 0.578);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.img1Div{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1Div img{
    width: 300px;
    height: 200px;
    border-radius: 8px;
}



.lastDiv{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastDiv button{
    width: 200px;
    height: 45px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(57, 81, 57);
    color: rgba(255, 255, 255, 0.876);
}


.popUp {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.579);
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: rgb(238, 238, 238);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  height: 500px;
  position: relative;
  margin-top: -30px;
}

.closeBtn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.popupContent input{
    width: 90%;
    height: 35px;
    outline: none;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgb(165, 165, 165);
}
.orderDiv{
    width: 100%;
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: none;
}
.inp{
    margin-top: 30px;
}
.lastBtn {
    width: 200px;
    height: 45px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(57, 81, 57);
    color: rgba(255, 255, 255, 0.876);
}
.lableDiv{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 10px;
}

.lableDiv label{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lastBtn2{
    width: 200px;
    height: 45px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(57, 81, 57);
    color: rgba(255, 255, 255, 0.876);
    margin-top: 100px;
}
.asteric{
    color: red;
}